{% extends 'base.html' %}

{% block title%}
<title>Products list</title>
{% endblock title%}
{% block content%}
{% if user.is_authenticated%}
<p>Hi {{user.username}}.Thanks for using our site.</p>
{% else%}
<p>You are not logged in.Either log in or sign up to use our site.</p>
{% endif%}
<h1>Products</h1>
    <p>لطفا یکی را انتخاب کنید</p>
    <main>
        {% for product in object_list%}
        <ul>
            <li>
                <style>
                    div {
                      text-align: center;
                    }
                  </style>
                  
                  <div>
                    
                    <img src="{{product.Image.url}}" alt="">
                <br/>
                <figcaption>
                    {{product.name}}
                </figcaption>
               <p><a href="{% url 'detail' product.pk%}">Product details</a></p>
            </li>
        </div>
        </ul>
        {%endfor%}
    </main>
{%endblock content%}